.cmd_interface {
  width: 100%;
  height: 20rem;

  //background-color: #0c0c0c;

  border-top-left-radius: 0.6rem;
  border-top-right-radius: 0.6rem;

  border: 1px solid rgb(159, 152, 159, 0.5);

  &__header {
    width: 100%;
    height: 19%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    //background-color: #333333;

    &--tab {
      display: flex;
      border-top-left-radius: 0.4rem;
      border-top-right-radius: 0.4rem;

      padding: 5px 15px 0 15px;
      //background-color: #0c0c0c;
    }
  }
}

#typing-writer {
  z-index: 100;
}

#typing-writer p::after {
  content: '';
  width: 10px;
  height: 10px;
  border-right: 1px solid white;

  animation: blink 1s infinite ease;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
