@import '../_app.scss';

.contact-section {
  width: 100vw;
  height: 100%;

  background-color: $bg-color-third;

  padding-bottom: 5rem;

  &__title {
    position: relative;
    padding-bottom: 3rem;
    &::after {
      content: '';
      width: 20%;
      height: 3px;
      background-color: $color-secondary;
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
    }
  }

  form {
    input,
    textarea {
      width: 100%;
      padding: 1rem 2rem;
      color: white;
      background-color: $bg-color-secondary;
      border-radius: 10px;
    }

    button {
      color: white;
      width: 10rem;
      background-color: $color-secondary;
      align-self: flex-end;

      &:hover {
        background-color: transparent;
      }
    }
  }
}
