@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Roboto:wght@500;700&display=swap');

$bg-color-primary: #1b1e3d;
$bg-color-secondary: #171a34;
$bg-color-third: #282b5a;

$color-secondary: #cc3b45;

:root {
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --font-Nunito: 'Nunito', monospace, sans-serif;
  --font-Poppins: 'Poppins', monospace, sans-serif;
  --font-Alegreya: 'Finger Paint', monospace, sans-serif;
  --font-roboto: 'Roboto', monospace, sans-serif;
  --font-designer: 'DESIGNER', 'monospace', sans-serif;

  font-family: var(--font-roboto);
}

*,
html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

a {
  color: #d2d5fd;
  transition: color 200ms ease;

  &:hover {
    color: white;
  }
}

// Default value
h1,
h2,
h3 {
  font-size: clamp(3rem, 10vw, 10rem);
  border-radius: clamp(0.4rem, 0.75vw, 1rem);
  color: white;
}

h2 {
  font-family: var(--font-Poppins);
  font-weight: 500;
  font-size: clamp(2rem, 5vw, 4rem);
}

h4 {
  font-size: clamp(1rem, 3vw, 1.5rem);
}

p {
  font-size: clamp(0.9rem, 3vw, 1rem);
}

.background-image {
  background: url('./assets/images/header_background.webp') fixed center center no-repeat;
}

button {
  @apply bg-white hover:bg-gray-800 hover:text-white transition-all text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow;
}

input,
textarea {
  @apply w-full px-3 py-3 rounded-md bg-secondary bg-opacity-90 border border-white border-opacity-50;
}

// Hover animation
.hover-underline {
  position: relative;
  width: auto;
  padding-bottom: 0.5rem;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 3px;
    background-color: $color-secondary;
    transition: width 0.2s ease-in-out;
  }

  &:hover {
    &:before {
      width: 100%;
    }
  }
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #a49bcc;
}

::-webkit-scrollbar-thumb {
  background-color: $color-secondary;
  border-radius: 5px;
  border: 1px solid #b84938;
}
